In [1]:
# Importing necessary libraries
import pandas as pd
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# Converting CSV file to Datafile as housing_data
data = pd.read_csv('housing_data.csv')

In [3]:
data

,square_footage,bedrooms,bathrooms,location_encoded,age_of_house,price
0,1360,1,3,4,43,259048
1,4272,1,2,4,50,723405
2,3592,3,2,3,23,605058
3,966,5,2,2,44,216077
4,4926,4,1,1,38,783922
...,...,...,...,...,...,...
495,1743,5,3,1,5,318537
496,4209,3,2,3,55,703979
497,1581,2,1,3,2,296795
498,955,1,2,4,62,213180
499,1394,3,3,3,91,249899

In [65]:
#Display the first 5 rows of the dataframe
data.head()

   square_footage  bedrooms  bathrooms  location_encoded  age_of_house   price
0            1360         1          3                 4            43  259048
1            4272         1          2                 4            50  723405
2            3592         3          2                 3            23  605058
3             966         5          2                 2            44  216077
4            4926         4          1                 1            38  783922

In [67]:
##Display the last 5 rows of the dataframe
data.tail()

,square_footage,bedrooms,bathrooms,location_encoded,age_of_house,price
495,1743,5,3,1,5,318537
496,4209,3,2,3,55,703979
497,1581,2,1,3,2,296795
498,955,1,2,4,62,213180
499,1394,3,3,3,91,249899

In [69]:
#display the summary of the dataframe
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   square_footage    500 non-null    int64
 1   bedrooms          500 non-null    int64
 2   bathrooms         500 non-null    int64
 3   location_encoded  500 non-null    int64
 4   age_of_house      500 non-null    int64
 5   price             500 non-null    int64
dtypes: int64(6)
memory usage: 23.6 KB

In [7]:
#discribe the dataframe
data.describe()

,square_footage,bedrooms,bathrooms,location_encoded,age_of_house,price
count,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000
mean,2805.660000,2.970000,1.986000,2.518000,48.47600,476615.732000
std,1261.356268,1.452349,0.821678,1.126149,29.02534,191168.316793
min,504.000000,1.000000,1.000000,1.000000,1.00000,116529.000000
25%,1666.750000,2.000000,1.000000,2.000000,23.00000,304564.000000
50%,2930.000000,3.000000,2.000000,2.000000,47.00000,488636.000000
75%,3830.750000,4.000000,3.000000,4.000000,73.25000,626042.500000
max,4999.000000,5.000000,3.000000,4.000000,99.00000,873581.000000

In [8]:
#display the shape of data
data.shape

(500, 6)

In [71]:
##display the size of data
data.size

3000

In [73]:
#display the datatypes of data structure
data.dtypes

square_footage      int64
bedrooms            int64
bathrooms           int64
location_encoded    int64
age_of_house        int64
price               int64
dtype: object

In [11]:
#Display the Number of Unique values
data.nunique()

square_footage      471
bedrooms              5
bathrooms             3
location_encoded      4
age_of_house         98
price               500
dtype: int64

In [12]:
#Display the numm values
data.isnull()

,square_footage,bedrooms,bathrooms,location_encoded,age_of_house,price
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
495,False,False,False,False,False,False
496,False,False,False,False,False,False
497,False,False,False,False,False,False
498,False,False,False,False,False,False
499,False,False,False,False,False,False

In [75]:
#drop the duplicate values
data.drop_duplicates()

,square_footage,bedrooms,bathrooms,location_encoded,age_of_house,price
0,1360,1,3,4,43,259048
1,4272,1,2,4,50,723405
2,3592,3,2,3,23,605058
3,966,5,2,2,44,216077
4,4926,4,1,1,38,783922
...,...,...,...,...,...,...
495,1743,5,3,1,5,318537
496,4209,3,2,3,55,703979
497,1581,2,1,3,2,296795
498,955,1,2,4,62,213180
499,1394,3,3,3,91,249899

In [14]:
#describe the data in a tableform
data.describe().T

,count,mean,std,min,25%,50%,75%,max
square_footage,500.0,2805.660,1261.356268,504.0,1666.75,2930.0,3830.75,4999.0
bedrooms,500.0,2.970,1.452349,1.0,2.00,3.0,4.00,5.0
bathrooms,500.0,1.986,0.821678,1.0,1.00,2.0,3.00,3.0
location_encoded,500.0,2.518,1.126149,1.0,2.00,2.0,4.00,4.0
age_of_house,500.0,48.476,29.025340,1.0,23.00,47.0,73.25,99.0
price,500.0,476615.732,191168.316793,116529.0,304564.00,488636.0,626042.50,873581.0

In [15]:
#Extracting Independent and dependent Variable  
x= data.iloc[:, [0,1,2,3]].values  
y= data.iloc[:, 5].values

In [16]:
#display the value of x
x

array([[1360,    1,    3,    4],
       [4272,    1,    2,    4],
       [3592,    3,    2,    3],
       ...,
       [1581,    2,    1,    3],
       [ 955,    1,    2,    4],
       [1394,    3,    3,    3]], dtype=int64)

In [77]:
#display the value of y
y

array([259048, 723405, 605058, 216077, 783922, 565142, 624626, 591134,
       161240, 382567, 291402, 504803, 498121, 342263, 693545, 738684,
       577398, 236020, 253600, 519545, 445799, 533145, 268871, 388387,
       210261, 531461, 571973, 356244, 300606, 389580, 667335, 645520,
       710377, 247311, 584984, 458941, 275160, 460450, 516690, 174281,
       417822, 586661, 471617, 332731, 378871, 519764, 284175, 740702,
       162353, 555272, 423330, 337849, 686881, 565636, 251761, 667501,
       569064, 683674, 360940, 171408, 769274, 411438, 326832, 622834,
       676179, 278530, 293452, 212581, 274504, 256303, 713092, 205216,
       251831, 410898, 708378, 172238, 493265, 412006, 553011, 345509,
       166589, 856870, 619929, 427979, 618238, 185130, 585244, 514782,
       707288, 190924, 562275, 521429, 322189, 533004, 744169, 244110,
       210264, 873581, 251227, 808178, 128891, 297753, 274998, 579571,
       208933, 721653, 395971, 420605, 619253, 326656, 422468, 611683,
       623264, 542146, 583239, 369463, 560275, 498911, 614341, 296885,
       461585, 398403, 350894, 445458, 649641, 487286, 315043, 729314,
       531294, 395733, 266847, 769665, 720269, 274861, 424230, 668584,
       713021, 330677, 635814, 685337, 387394, 338071, 668707, 585408,
       396962, 729250, 596417, 613539, 207454, 482544, 776774, 210476,
       657306, 395944, 531587, 395400, 642906, 176025, 608176, 832219,
       800396, 313968, 808156, 432213, 534145, 179706, 396860, 631632,
       227987, 668027, 300095, 754320, 622131, 524346, 422835, 272063,
       570716, 293392, 400398, 120229, 657506, 549809, 389500, 443813,
       226733, 580205, 472201, 506082, 570294, 364173, 797578, 572729,
       145051, 268496, 298686, 732060, 436937, 682212, 594281, 772447,
       366996, 626519, 415613, 459763, 298805, 806178, 553059, 363756,
       691759, 362223, 336787, 721511, 742609, 129798, 595754, 544929,
       157966, 439563, 588210, 770647, 677636, 576937, 599825, 688900,
       225543, 713573, 169227, 819455, 289661, 738079, 364276, 277931,
       825290, 609097, 461943, 233141, 687717, 324111, 347378, 624158,
       156344, 508661, 605069, 235104, 244106, 573770, 293687, 643098,
       136551, 321644, 477301, 489986, 335368, 647284, 516037, 303621,
       474078, 647448, 234701, 822847, 209294, 634001, 264104, 314859,
       159972, 424971, 284268, 598079, 320965, 648322, 641997, 131423,
       459775, 417970, 222134, 413744, 548234, 741283, 742222, 532667,
       352270, 562102, 160099, 537486, 364446, 762829, 233801, 637465,
       763459, 581978, 169155, 417462, 421089, 235984, 557493, 749719,
       808781, 476751, 702286, 777960, 508269, 269625, 279152, 575361,
       431731, 233017, 776381, 707937, 691407, 194035, 646416, 303862,
       349492, 682775, 456111, 526015, 598691, 582697, 174382, 277733,
       273546, 783272, 796108, 768097, 269064, 353593, 400981, 199678,
       209392, 730823, 365118, 254182, 169662, 631558, 309789, 407577,
       286971, 335518, 310260, 257729, 538389, 297577, 660469, 592882,
       697144, 407245, 242228, 475121, 627253, 736278, 382672, 672260,
       560155, 588276, 705838, 298950, 545504, 407495, 552150, 641609,
       497220, 465867, 344602, 434415, 779246, 450336, 551229, 623466,
       720340, 502871, 395821, 624881, 251224, 327208, 590683, 582335,
       156398, 234890, 669821, 233007, 336187, 375747, 695307, 456125,
       292922, 754424, 523450, 730433, 673985, 341887, 822151, 538766,
       755044, 577177, 813972, 490200, 254773, 417008, 523919, 557769,
       747033, 229323, 388921, 603783, 206324, 122119, 190383, 714532,
       608848, 274383, 377339, 600681, 248424, 209523, 596189, 565661,
       282368, 687131, 520380, 573313, 562465, 313154, 773493, 370298,
       422608, 339803, 787190, 693278, 584489, 702214, 490558, 540952,
       741250, 210301, 285111, 323993, 780600, 281103, 124989, 747360,
       808884, 518338, 404297, 188335, 558791, 644071, 173421, 573639,
       777059, 531731, 702621, 626006, 370761, 538930, 260916, 467658,
       557082, 638037, 304798, 180935, 781629, 231034, 485901, 615480,
       622721, 346874, 298338, 559757, 563051, 287755, 318406, 572991,
       530049, 674301, 326350, 423252, 321033, 225041, 312125, 116529,
       801970, 294038, 319345, 400204, 622654, 626152, 372319, 570582,
       520115, 783617, 209122, 655294, 753136, 609539, 754420, 318537,
       703979, 296795, 213180, 249899], dtype=int64)

In [18]:
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=42)

In [19]:
x_train.shape

(400, 4)

In [20]:
x_test.shape

(100, 4)

In [21]:
 y_train.shape

(400,)

In [22]:
y_test.shape

(100,)

In [23]:
# Scaling the features using StandardScaler
scaler = StandardScaler()

# Fitting and transforming the training data, and transforming the test data
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [24]:
x_train_scaled

array([[-0.85618246,  0.04705297, -1.20956777, -0.48591521],
       [-1.36515799, -1.34710905, -1.20956777,  0.40567233],
       [ 0.17669227,  0.74413398,  0.01221786, -0.48591521],
       ...,
       [ 0.63932589, -0.65002804,  1.23400348,  0.40567233],
       [-0.76035682,  1.44121498, -1.20956777, -1.37750276],
       [-1.15465577,  0.04705297, -1.20956777,  0.40567233]])

In [25]:
x_test_scaled

array([[ 0.11464124,  0.04705297,  1.23400348, -1.37750276],
       [-0.21289394, -1.34710905,  1.23400348, -0.48591521],
       [ 0.59219853,  1.44121498, -1.20956777, -0.48591521],
       [-0.47130899,  0.74413398, -1.20956777, -0.48591521],
       [-1.39029259,  1.44121498,  0.01221786, -1.37750276],
       [ 1.28497078,  1.44121498,  0.01221786,  1.29725988],
       [-1.12952117, -1.34710905,  1.23400348, -0.48591521],
       [ 0.76107159,  1.44121498, -1.20956777, -0.48591521],
       [-1.14287393, -0.65002804, -1.20956777,  1.29725988],
       [ 1.02341391, -1.34710905, -1.20956777,  1.29725988],
       [-0.50901088, -1.34710905,  1.23400348,  1.29725988],
       [-1.03448099, -0.65002804, -1.20956777,  0.40567233],
       [-1.34866342,  0.04705297,  1.23400348, -1.37750276],
       [ 0.601624  ,  1.44121498,  0.01221786,  0.40567233],
       [ 0.37933994,  1.44121498,  0.01221786,  1.29725988],
       [ 1.24098524,  0.74413398,  0.01221786, -1.37750276],
       [-0.85618246,  1.44121498,  1.23400348, -1.37750276],
       [ 0.68252598,  1.44121498,  1.23400348,  0.40567233],
       [ 0.62126041, -1.34710905, -1.20956777,  0.40567233],
       [ 0.73358062, -0.65002804, -1.20956777, -1.37750276],
       [-1.27247418,  0.04705297, -1.20956777, -0.48591521],
       [ 0.99670841,  0.04705297,  1.23400348, -0.48591521],
       [-0.50822542,  0.04705297, -1.20956777, -1.37750276],
       [ 0.61654767, -1.34710905,  1.23400348, -0.48591521],
       [ 0.18454683, -1.34710905, -1.20956777,  0.40567233],
       [-1.08396472, -1.34710905,  1.23400348, -0.48591521],
       [-0.98342634, -0.65002804, -1.20956777,  0.40567233],
       [ 1.46562568, -0.65002804, -1.20956777, -1.37750276],
       [-0.66688755, -0.65002804,  1.23400348, -1.37750276],
       [-0.92922988,  0.04705297,  0.01221786,  1.29725988],
       [-0.37469789,  0.74413398,  0.01221786, -1.37750276],
       [-1.03762281,  1.44121498, -1.20956777, -0.48591521],
       [ 1.59208411,  0.04705297,  1.23400348,  1.29725988],
       [ 0.13977583,  0.04705297, -1.20956777,  0.40567233],
       [ 0.59612581,  0.04705297,  0.01221786,  0.40567233],
       [ 0.39661997,  1.44121498, -1.20956777,  1.29725988],
       [-1.1845031 ,  0.04705297,  1.23400348,  1.29725988],
       [ 1.30382173,  0.04705297,  0.01221786,  0.40567233],
       [-0.53807275,  1.44121498,  1.23400348, -1.37750276],
       [ 0.79248983, -0.65002804, -1.20956777,  0.40567233],
       [-0.60090924, -1.34710905, -1.20956777, -1.37750276],
       [ 0.28037247,  1.44121498,  0.01221786,  0.40567233],
       [ 0.9055955 ,  1.44121498, -1.20956777, -1.37750276],
       [ 0.50501291,  1.44121498, -1.20956777, -0.48591521],
       [-1.32509973,  0.04705297, -1.20956777,  1.29725988],
       [-0.2403849 ,  0.04705297, -1.20956777, -1.37750276],
       [-1.15701214, -1.34710905,  1.23400348,  1.29725988],
       [ 0.04552111, -0.65002804, -1.20956777, -0.48591521],
       [ 0.37305629, -1.34710905, -1.20956777,  0.40567233],
       [-1.06668469,  0.04705297,  1.23400348, -0.48591521],
       [-1.44605997,  1.44121498,  0.01221786,  1.29725988],
       [-0.47052353, -0.65002804, -1.20956777, -1.37750276],
       [ 1.63371328,  0.04705297, -1.20956777, -1.37750276],
       [-0.64175295,  0.74413398, -1.20956777,  1.29725988],
       [-1.34316522, -1.34710905, -1.20956777,  1.29725988],
       [ 0.8859591 ,  1.44121498,  0.01221786, -1.37750276],
       [-1.28425602,  1.44121498,  0.01221786, -1.37750276],
       [-0.98264089,  0.04705297,  0.01221786, -1.37750276],
       [-0.92608805, -0.65002804,  0.01221786, -0.48591521],
       [ 0.28429975,  1.44121498,  0.01221786, -0.48591521],
       [ 1.51982215,  1.44121498,  0.01221786, -1.37750276],
       [-1.28347056,  1.44121498,  0.01221786, -0.48591521],
       [ 1.67455699, -0.65002804,  1.23400348,  0.40567233],
       [-0.39747612,  0.74413398,  0.01221786, -0.48591521],
       [-0.65824753, -0.65002804,  0.01221786,  1.29725988],
       [-1.64320944, -0.65002804,  1.23400348,  0.40567233],
       [ 0.6982351 ,  0.04705297,  1.23400348,  1.29725988],
       [-1.2237759 ,  0.74413398,  1.23400348,  1.29725988],
       [-0.50272723, -1.34710905,  0.01221786, -1.37750276],
       [ 0.08715028,  1.44121498, -1.20956777,  1.29725988],
       [ 0.3227871 ,  1.44121498, -1.20956777,  0.40567233],
       [-1.39343441,  1.44121498,  0.01221786,  1.29725988],
       [ 1.20171244,  0.04705297,  1.23400348,  0.40567233],
       [-1.41071445, -1.34710905,  0.01221786, -1.37750276],
       [ 0.56392211,  0.04705297,  1.23400348, -1.37750276],
       [-0.27573043, -0.65002804,  0.01221786,  1.29725988],
       [-0.90252437,  0.04705297,  1.23400348,  0.40567233],
       [-0.98735362, -0.65002804,  1.23400348, -0.48591521],
       [-0.13906107,  0.04705297,  0.01221786,  0.40567233],
       [-0.6213311 ,  0.04705297,  1.23400348,  0.40567233],
       [ 0.34870715, -1.34710905,  1.23400348, -0.48591521],
       [ 0.96450471,  0.04705297, -1.20956777, -1.37750276],
       [-1.44056178,  1.44121498,  0.01221786, -1.37750276],
       [ 0.83568991,  0.04705297, -1.20956777,  0.40567233],
       [ 1.42085468,  0.74413398,  0.01221786, -0.48591521],
       [ 0.31257617,  1.44121498,  0.01221786,  0.40567233],
       [ 0.69587873,  1.44121498,  0.01221786,  1.29725988],
       [ 0.79720256, -1.34710905,  1.23400348,  0.40567233],
       [-0.4854472 , -1.34710905,  1.23400348, -1.37750276],
       [ 1.32031631, -1.34710905,  1.23400348,  1.29725988],
       [-0.31578869,  1.44121498,  1.23400348, -1.37750276],
       [ 0.04159383,  1.44121498,  0.01221786,  0.40567233],
       [-0.54828368,  0.04705297, -1.20956777, -0.48591521],
       [-1.33373975,  1.44121498, -1.20956777, -0.48591521],
       [ 0.45631463, -1.34710905, -1.20956777,  1.29725988],
       [-0.03066813,  1.44121498,  1.23400348, -0.48591521],
       [ 0.60555128, -0.65002804, -1.20956777, -1.37750276],
       [-1.78223517, -0.65002804,  1.23400348,  0.40567233],
       [-1.52224921, -1.34710905,  1.23400348, -0.48591521],
       [ 1.40121828,  1.44121498,  0.01221786, -1.37750276]])

In [26]:
# Initializing the LinearRegression model
lr = LinearRegression()

In [27]:
lr.fit(x_train,y_train)

LinearRegression()

In [28]:
#Making predictions on the test set
y_pred=lr.predict(x_test)

In [29]:
y_pred

array([475540.2481529 , 412154.37265121, 602014.21376057, 389499.81999884,
       207742.73988614, 774830.83534041, 237848.04799211, 634127.20416478,
       280145.92250464, 681811.14056657, 394750.33895313, 281305.12067734,
       197277.45223181, 625432.38547851, 602615.58912623, 697830.70361918,
       311482.36519179, 642989.70630405, 585884.55379633, 578614.94050322,
       226872.58342318, 662727.4727695 , 352749.67456104, 569881.43249697,
       502838.86698359, 246511.08726394, 291013.69917163, 717821.01983679,
       316647.08022888, 333222.78300361, 390591.53496128, 292086.51567349,
       814850.15585642, 514879.66163438, 603832.3750795 , 603728.61155896,
       286852.84851287, 738408.20928502, 371974.27734855, 628722.86802701,
       314570.39934869, 564343.02233749, 642157.08865652, 585434.94894724,
       255771.00100558, 403682.37096957, 271526.07344863, 467226.03573376,
       538685.92603945, 270351.53885395, 255496.56726869, 349641.85078394,
       760061.88308321, 395993.82567134, 231781.18666951, 640595.9779856 ,
       227906.71060505, 264707.53391787, 284637.27683077, 545636.97528341,
       761131.71406091, 247508.93413554, 800803.14782066, 405712.87610978,
       374475.69480813, 169894.9084376 , 644875.35083323, 289661.94679784,
       335413.70058768, 544879.68960893, 570235.65264433, 265503.87125512,
       721164.01027716, 162750.36613531, 560975.73890269, 447215.3521423 ,
       321021.21356617, 275159.94061834, 464028.84476166, 374493.07665782,
       518948.73608845, 632804.82343492, 198183.52413791, 647215.05464892,
       751487.63325273, 570466.8949262 , 662808.77579086, 623687.72487659,
       340872.63898187, 742616.174541  , 414243.93448524, 518936.74753341,
       364585.03529609, 235776.76040658, 573971.23790687, 487915.47209164,
       554268.81289445, 143457.7023839 , 163166.67495908, 738577.93940494])

In [79]:
# Evaluating the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Outputting the results
print(f"\nMean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 375829565.36
R-squared: 0.99